.LongBannerContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 160px;
    padding-right: 160px;
    width: auto;
    height: 715px;
    background-image: url(/src/Components/Elements/LongBanner/banner.png);
    background-color: rgba(31, 31, 31, 0.88);

    .BannerTittle {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 630px;
        height: auto;
        overflow-y: hidden;

        h1 {
            font-family: 'Syne', sans-serif;
            font-size: 72px;
            font-weight: 700;
            color: #F4F7F5;
            text-align: left;
            margin-bottom: 55px;
        }
    }

    .BannerImages {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 715px;
        height: 715px;
        rotate: 90deg;

         .imgBanner{
            width: 190px;
            height: 190px;
            margin-bottom: 45px;
            rotate: -90deg;
            margin-right: 40px;
        }
    }
}

